*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}


body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(styleImages/back.gif) no-repeat;
    background-size: cover;
    background-position:center; 
    
   
}


.main-box{
    height: 550px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50% , -50%);
    text-align: center;
}


.main-box .content{
    position: relative;
    height: 100%;
    width: 100%;
}


.content .box{
    position: absolute;
    background: rgb(25, 4, 110);
    height: 50px;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 25px;
    cursor: pointer;
}


.content .box .share ,.cancel{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    background: #00f7ff;
    letter-spacing: 1px;
    border-radius: 25px;
    opacity: 0;
    transition: all 0.3s ease;
}


.content .box .share{
    opacity: 1;
}

#check:checked ~ .box .share{
    opacity: 0;
}


#check:checked ~ .box .cancel{
    opacity: 1;
}


#check{
   display: none;
}


.content .image-box{
    position: absolute;
    height: 450px;
    width: 100%;
    border-radius: 25px;
    background: #fff;
    padding: 10px;
    left: 0;
    bottom: 130px;
    transition: all 0.4s ease;
}


#check:checked ~ .image-box{
    bottom: 80px;
}


.content .image-box::before{
    position: absolute;
    content: '';
    height: 30px;
    width: 30px;
    background:#fff;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}


.content .image-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
}


.main-box .about{
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 25px;
    opacity: 0;
    transition: all 0.3s ease;
}


#check:checked ~ .image-box .about{
    opacity: 1;
}


.about .details{
    position: absolute;
    background: rgb(0, 0, 0);
    width: 100%;
    left: 0;
    bottom: 35px;
}


#i1{
    width: 30px;
    height: 30Spx;
    cursor: pointer;
}


.details .name,
.details .job{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}


.details .name{
    font-size: 22px;
}
